@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Bungee+Spice&family=Kanit:ital,wght@0,300;0,400;0,500;0,600;1,200;1,500;1,800&family=Kdam+Thmor+Pro&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,600;0,800;1,400;1,500&family=Poppins:wght@300;400;500;600;700&family=Rampart+One&family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Bungee+Spice&family=Kanit:ital,wght@0,300;0,400;0,500;0,600;1,200;1,500;1,800&family=Kdam+Thmor+Pro&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,600;0,800;1,400;1,500&family=Poppins:wght@300;400;500;600;700&family=Rampart+One&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 45%;
    width: 1440px;
    margin: 0 auto;
    background-color: rgb(7, 91, 91);
    color: white;
}

/* NAVBAR */

.navbar {
    width: 1200px;
    height: 34px;
    margin: 42px auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
}

.logo a {
    font-size: 30px;
    color: white;
    line-height: 32.35px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.logo a>span {
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}

.navitem ul {
    position: relative;
    display: flex;
    align-items: center;
}

.navitem ul li {
    list-style-type: none;
    margin: 0 20px;
}

.navitem ul li a {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.navitem ul li a:hover {
    color: orange;
}

/*  END OF NAVABR */

.hero {
    width: 100%;
    margin: 4vmax auto;
}

.he-ag {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */

}

.hero-text {
    flex-basis: 50%;
    height: 100%;

}

.hero-text h1 {
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: .2rem;
    color: rgb(247, 245, 242);
    margin-top: 6vmax;
}

.hero-text p {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: .1rem;
    margin-top: 2vmax;
}

.hero-text .contbtn {
    border-radius: 20px;
    height: 50px;
    width: 28%;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 2vmax;
    background-color: rgb(255, 106, 0);
    color: white;
    border: none;
}

.hero-img {
    flex-basis: 45%;
    box-shadow: 0 1px 0 6px rgb(64, 155, 149);
    border-bottom-left-radius: 173px;
}

.hero-img img {
    height: 100%;
    width: 100%;
}

.hero-img:hover {
    transform: scale(1.05);
    transition: all .5s ease-in-out;
}

/*=-=-= CLIENT  =-=-=-*/

.client {
    width: 100%;
    margin: 8vmax auto;
}

.client-container h1 {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    line-height: 50px;
    letter-spacing: .1rem;
}

.client-n {
    display: flex;
    margin: 2vmax 20px;
}

.client-img {
    flex-basis: 33.33%;
}

.client-img img {
    height: 70%;
    width: 10vmax;
    padding: 10px auto;
}

.img-4 img {
    margin-top: 10px;
}


/*------ service Card --------*/

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(25vmax, auto);
    grid-gap: 1rem;
    margin: 5vmax auto;
}

.service h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: .1rem;
    line-height: 50px;
    margin-bottom: -2vmax;
}

.card {
    /*height: 200px;*/
    /*background: red;*/
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: #5d5e5e;
}

/* li item */

.thumbnail img {
    fill: #c7c4c4;
    height: 10vmax;
    opacity: .25;
    padding: 1.5rem;
}

.card-content {
    font-size: .75rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    margin-top: 1vmax;
    flex: 1;
}

.panel.card-panel .panel-header {
    background-color: #ffffff;
    font-size: .75rem;
    font-weight: 400;
    height: 25px !important;
}

.panel.card-panel .panel-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.category {
    font-size: .75rem;
    text-transform: uppercase;
}

footer {
    border-top: 2px solid #e7e7e7;
    margin: .5rem 0 0;
    min-height: 30px;
    font-size: .5rem;
}

.category {
    position: absolute;
    top: 110px;
    left: 0;
    color: #fff;
    background: #e74c3c;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.category__01 {
    background-color: #50c6db;
}

.category__02 {
    background-color: #5d5e5e;
}

.category__03 {
    background-color: #51bb7b;
}

.category__04 {
    background-color: #f47820;
}

.category__05 {
    background-color: #8350a0;
}

.post-meta {
    margin-top: .5rem;
}

.comments {
    margin-left: .5rem;
}

.card-content p {
    color: white;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    margin-top: 1.4vmax;
}

.comments a {
    text-decoration: none;
    color: orange;
}

.card-content h2 {
    color: rgb(255, 246, 246);
    margin: 2rem 0 .5rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
}

img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}


/*-----  testimonial --------*/


#testimonial {
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    color: #080808;
    /* background: linear-gradient(110deg, teal 0%, #11635e 100%); */
}

#testimonial h1 {
    font-size: 40px;
    font-weight: 600;
     font-family: 'Ubuntu', sans-serif;
    letter-spacing: .2rem;
    line-height: 60px;
    color: rgb(255, 253, 253);
    margin-bottom: 1vmax;
    margin-top: 4vmax;
}

.container_ses {
    position: relative;
    width: 100%;
    min-width: 350px;
    min-height: 250px;
    padding-bottom: 40px;
    overflow: hidden;
    margin: 2vmax auto;
}

.wrapper {
    width: 300%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    transition: 1s;
}

.card_c {
    width: 800px;
    min-height: 100%;
    background: rgba(111, 163, 144, 0.592);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 10px;
}

.card-thumb {
    width: 70%;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

.pep-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.client-name {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 5px 20px;
    background: #fff;
    text-transform: capitalize;
    font-size: 14px;
}

.card-body {
    width: 120%;
    min-height: 100%;
    height: auto;
    margin-left: 20px;
    position: relative;
    padding-bottom: 50px;
}

.review {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    color: white;
}

.rating {
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    width: 25px;
    margin-right: 5px;
}

.indicators {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.indicators button {
    background: none;
    border: none;
    outline: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    margin-left: 5px;
    transition: .5s;
}

button.active {
    width: 40px;
    border-radius: 50px;
    background: #fff;
}

@media (max-width: 800px) {
    .container_ses {
        width: 50%;
        margin: auto;
    }

    .card_c {
        flex-direction: column;
    }

    .card-thumb {
        width: 100%;
        border-radius: 10px;
    }

    .card-body {
        width: 100%;
        min-height: auto;
        margin-left: 0;
    }
}


/* END SECTIOn*/




/* CONTACT FORM */

#contact {
    width: 60%;
    margin: 1vmax auto;
}

.contact_heading {
    font-size: 40px;
    font-weight: 500;
     font-family: 'Ubuntu', sans-serif;
    letter-spacing: .1rem;
    line-height: 60px;
    color: white;
    margin-bottom: 1vmax;
}


.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #CC4949;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #CC6666;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #CC4949;
}


/* contact css end*/


footer{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: .1rem;
    margin: 1vmax auto;
}
footer p>span{
    color: #f47820;
    margin-left: 10px;
}